
        .marker-cluster {
            background-clip: padding-box;
            border-radius: 20px;
        }
        .marker-cluster div {
            width: 30px;
            height: 30px;
            margin-left: 5px;
            margin-top: 5px;
            text-align: center;
            border-radius: 15px;
            font: 12px "Helvetica Neue", Arial, Helvetica, sans-serif;
        }
        .marker-cluster span {
            line-height: 30px;
        }
        .marker-cluster-small,
        .marker-cluster-medium,
        .marker-cluster-large {
            background-color: rgba(181,226,140,0.6);
        }
        .marker-cluster-small div,
        .marker-cluster-medium div,
        .marker-cluster-large div {
            background-color: rgba(110,204,57,0.6);
        }
        .marker-cluster-small,
        .marker-cluster-medium,
        .marker-cluster-large {
            background-color: #b5e28c;
        }
        .marker-cluster-small div,
        .marker-cluster-medium div,
        .marker-cluster-large div {
            background-color: #6ecc39;
        }

        body {
            margin: 0;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
        }

        header {
            padding: 20px;
            background: #005692;
            color: white;
        }
        header h1 {
            margin: 0;
        }
        header nav ul {
            margin: 0;
            padding: 0;
            list-style: none;
            margin-top: 10px;
        }
        header nav ul li {
            display: inline;
        }
        header nav ul li a {
            display: inline-block;
            background: rgba(255, 255, 255, 0.75);
            color: #005692;
            padding: 5px 10px;
            border-radius: 3px;
            text-decoration: none;
        }
        header nav ul li a:hover {
            background: white;
            color: black;
        }
        header nav ul li.active a {
            background:transparent;
            color: white;
        }
        header p {
            padding: 0 10px;
            font-size: 13px;
        }

        .map {
            padding-bottom: 55%;
        }